<h1>Listing cheer_comments</h1>

<table>
  <tr>
    <th>User</th>
    <th>Target</th>
    <th>Comment</th>
    <th>Updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cheer_comments.each do |cheer_comment| %>
  <tr>
    <td><%= cheer_comment.user_id %></td>
    <td><%= cheer_comment.target_id %></td>
    <td><%= cheer_comment.comment %></td>
    <td><%= cheer_comment.updated_at.localtime %></td>
    <td><%= link_to 'Show', cheer_comment %></td>
    <td><%= link_to 'Edit', edit_cheer_comment_path(cheer_comment) %></td>
    <td><%= link_to 'Destroy', cheer_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cheer comment', new_cheer_comment_path %>
