<h1>マイスタジオ(<%= @response[:user_name] %>)</h1>

友情pt:<%= @response[:cheer_point] %>

<%= render partial: "shared/cheer_comment", object: @response[:comment_info]%>

<%= link_to 'もっと見る', controller: "cheer_comment_view", action: "index", user_id: @response[:user_id], method: :get %>

<%= render partial: "shared/footer" %>
