<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cheer_user.user_id %>
</p>

<p>
  <b>Target:</b>
  <%= @cheer_user.target_id %>
</p>

<p>
  <b>Comment:</b>
  <%= @cheer_user.comment %>
</p>


<%= link_to 'Edit', edit_cheer_user_path(@cheer_user) %> |
<%= link_to 'Back', cheer_users_path %>
